/* SETTINGS */
:root {
    --purple: #cebcea;
    --blue: #3685d6;
    --green: #60f3db;
    --yellow: #ffef26;
    --orange: #ffa45b;
    --red: #ff7678;
    --white: #f3f6f7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-image: url(../images/number_background.jpg);
    background-size: cover;
}

/* TITLES */
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* CONTAINERS */
#container {
    width: 75%;
    height: 90vh;
    margin: 5vh auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(243,246,247, 0.9);
}
main {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* CALCULATOR */
#calculator {
    padding: 10px;
    background-color: var(--purple);
    border-radius: 5px;
}
#screen {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--white);
    text-align: right;
    padding-right: 5px;
    padding-top: 20px;
    font-size: 2rem;
}
#keys {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 10px;
}
button {
    border: none;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--pink);
    font-weight: bold;
    font-size: 1.1rem;
}
.keys {
    color: var(--blue);
    background-color: var(--green);
}
.operators {
    background-color: var(--orange);
}
.parenthesis {
    background-color: var(--yellow);
}
#clear-all {
    background-color: var(--red);
    grid-column: 1/4;
}
#equal {
    background-color: var(--blue);
    grid-column: 3/5;
}
#clear-all, #equal, .operators {
    color: var(--white);
}
#detailed-results {
    width: 50%;
    font-size: 1.5rem;
}

.bold {
    font-weight: bold;
}


